<% title 'Subscribers', @subscribers.size %>

<% actions do %>
  <%= action_link 'Export', admin_subscribers_path(params, format: 'csv') %>
<% end %>

<div class="card mb-4 pt-3 pr-3 pl-3">
  <%= admin_form_for [:admin, Subscriber.new], wrapper: :inline_form, html: { class: 'form-inline' } do |form| %>
    <%= form.input :email, required: false %>
    <%= form.association :conference, required: false, prompt: 'Please select' %>
    <%= form.button :submit, value: 'Create', 'data-disable-with' => 'Creating...' %>
  <% end %>
</div>

<%= form_tag admin_subscribers_path, method: :get do %>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Email</th>
        <th>Conference</th>
        <th>Active?</th>
        <th></th>
    </thead>
    <thead>
      <tr>
        <th></th>
        <th><%= collection_select :filter, :conference_id, Conference.all, :id, :name, prompt: true, selected: params[:filter] && params[:filter][:conference_id] %></th>
        <th><%= check_box_tag 'filter[active]', true, params[:filter] && params[:filter][:active] %></th>
        <th><%= submit_tag 'Filter', class: 'btn btn-light btn-sm' %></th>
      </tr>
    </thead>
    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.email %></td>
          <td><%= subscriber.conference_name %></td>
          <td width="1%"><%= subscriber.active? ? 'Yes' : 'No' %></td>
          <td class="table-actions">
            <% if subscriber.active? %>
              <%= action_link 'Deactivate', admin_subscriber_path(subscriber, subscriber: {active: false}), method: :put %>
            <% else %>
              <%= action_link 'Activate', admin_subscriber_path(subscriber, subscriber: {active: true}), method: :put %>
            <% end %>
            <%= delete_action admin_subscriber_path(subscriber) %>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>
<% end %>

<%= paginate @subscribers %>
