<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <%= stylesheet_link_tag 'sign', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <%= simple_form_for @login, url: sign_in_path do |form| %>
          <%= form.error_notification %>

          <%= form.input :email %>
          <%= form.input :password %>

          <%= form.button :submit, value: 'Sign in', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </body>
</html>
