<section id="banner">
  <div class="banner-item">
    <div class="container">
      <div class="banner-content text-center">
        <% if current_event.logo? %>
          <div class="banner-logo">
            <%= image_tag current_event.logo.variant(resize: '200') %>
          </div>
        <% end %>
        <div class="timer" data-countdown="<%= current_event.start_time_for_javascript %>"></div>
        <div>
          <h1 class="banner-title"><%= current_event.conference_name %></h1>
          <h2 class="banner-desc">
            <span class="first"><%= current_event.date.strftime('%d %B') %></span>
            <span><%= current_event.town %></span>
            <span><%= current_event.date.strftime('%Y') %> Edition</span>
          </h2>
          <% unless current_event.finished? %>
            <div class="banner-cta">
              <%= link_to 'Facebook Event', current_event.event_url, class: 'btn btn-primary facebook', target: :blank if current_event.event_url? %>
              <%= link_to 'Reserve Free Ticket', current_event.tickets_url, class: 'btn btn-primary eventbrite', target: :blank if current_event.tickets_url? %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

