<section id="ts-schedule" class="ts-schedule solid-bg">
  <div class="container">
    <div class="row text-center">
      <span class="icon-wrap"><i class="fa fa-calendar"></i></span>
      <h2 class="section-title">Schedule</h2>
      <p class="section-sub-title">Full-day Events with Awesome Speakers</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="schedule-tab">
          <h2 class="schedule-date"><%= current_event.formatted_date %></h2>
          <% current_event.sessions_by_track.each do |track, sessions| %>
            <% sessions.each_with_index do |session, index| %>
              <div class="schedule-listing<%= ' listing-last' if sessions.count == index + 1 %>">
                <span class="schedule-slot-time"><%= session.start_at %><%= " - #{ session.end_at }" if session.end_at? %></span>
                <div class="schedule-slot-info">
                  <% session.speakers.each do |speaker| %>
                    <% if speaker.photo.attached? %>
                      <span class="schedule-slot-speaker-link">
                        <%= attachment_image_tag speaker.photo, size: 58, class: 'schedule-slot-speakers' %>
                      </span>
                    <% end %>
                  <% end %>
                  <div class="schedule-slot-info-content">
                    <h3 class="schedule-slot-title"><%= session.title %></h3>
                    <% session.speakers.each do |speaker| %>
                      <h4 class="schedule-slot-speaker-name">
                        <%= speaker.name %>
                      </h4>
                    <% end %>
                    <% if session.description? %>
                      <p class="schedule-slot-desc"><%= session.description %></p>
                    <% end %>
                    <% if session.video_url? %>
                      <%= link_to session.video_url, target: '_blank', class: 'schedule-media' do %>
                        <i class="fa fa-file-video-o"></i> Video
                      <% end %>
                    <% end %>
                    <% if session.slides_url? %>
                      <%= link_to session.slides_url, target: '_blank', class: 'schedule-media' do %>
                        <i class="fa fa-file-o"></i> Slides
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
