<% if @conference.nil? %>
  <% title 'Events', @events.size %>

  <% actions do %>
    <%= action_link 'New event', new_admin_event_path %>
  <% end %>
<% else %>
  <% title @conference.name, "#{ @events.size } #{ 'event'.pluralize(@events.size) }" %>

  <% breadcrumbs ['Conferences', admin_conferences_path] %>

  <% actions do %>
    <%= action_link 'New event', new_admin_event_path(conference_id: @conference.id) %>
    <%= edit_action edit_admin_conference_path(@conference) %>
    <%= delete_action admin_conference_path(@conference) %>
  <% end %>
<% end %>

<%= table_for @events do |table| %>
  <% table.column :name do |event| %>
    <%= link_to event.full_name, admin_event_path(event) %>
    <%= badge 'current', type: :success if event.current? %>
    <%= badge 'hidden', type: :danger unless event.publicly_announced? %>
  <% end %>
  <% table.column :color do |event| %>
    <span class="badge badge-secondary" style="background-color: <%= event.color %>"><%= event.color %></span>
  <% end %>
  <% table.number :feedback do |event| %>
    <%= link_to event.feedbacks.count, admin_event_feedbacks_path(event) %>
  <% end %>
  <% table.number :photos do |event| %>
    <%= link_to event.photos.count, admin_event_photos_path(event) %>
  <% end %>
  <% table.actions do |event| %>
    <%= edit_action edit_admin_event_path(event) %>
    <%= action_link 'Feedbacks', admin_event_feedbacks_path(event) %>
    <%= action_link 'Photos', admin_event_photos_path(event) %>
  <% end %>
<% end %>
